<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.WishVIlle" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>WishVIlle</name>
    <description>Save D' future</description>
    <author email="lagreencon@Gmail.com" href="https://www.lagreen.designsandsystems.com.ng">
        The Design team
    </author>
    <content src="index.html" />
    <platform name="android" >
  <icon monochrome="www/img/logo.png" background="www/img/logo.png" density="ldpi" foreground="www/img/logo.png" />
  <icon src="www/img/logo.png" density="ldpi" />
        <icon src="www/img/logo.png" density="mdpi" />
        <icon src="www/img/logo.png" density="hdpi" />
        <icon src="www/img/logo.png" density="xhdpi" />
        <icon src="www/img/logo.png" density="xxhdpi" />
        <icon src="www/img/logo.png" density="xxxhdpi" />
   
    <splash src="www/img/logo.png" density="land-hdpi"/>
    <splash src="www/img/logo.png" density="land-ldpi"/>
    <splash src="www/img/logo.png" density="land-mdpi"/>
    <splash src="www/img/logo.png" density="land-xhdpi"/>

    <splash src="www/img/logo.png" density="port-hdpi"/>
    <splash src="www/img/logo.png" density="port-ldpi"/>
    <splash src="www/img/logo.png" density="port-mdpi"/>
 <access origin="https://api.flutterwave.com" />   
 <access origin="https://api.flutterwave.com/v3" />
<access origin="https://api.flutterwave.com/v3/transfers" />
</platform>
    <platform name="android">
    <preference name="AndroidWindowSplashScreenAnimatedIcon"  />
        <splash src="www/img/logo.png" />
        <access origin="http://google.com" />
 <access origin="https://api.flutterwave.com" />   
 <access origin="https://api.flutterwave.com/v3" />
<access origin="https://api.flutterwave.com/v3/transfers" />
<allow-navigation href="https://api.flutterwave.com/*" />
        
</platform>
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
<allow-intent href="https://api.flutterwave.com/*" />
    
</widget>
